/* set up */
*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-width: 520px;
  height: 100%;
  width: 100%;
}
.main {
  margin-top: 10%; /* Add a top margin to avoid content overlay */
}
#menue {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 5.5rem;
  background-color: #d35400;
}
/* workin on responsivness */

/* End of working on responsivness */

#logo {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 0.3rem;
  border-radius: 50%;
  background-color: unset;
}

p {
  position: absolute;
  margin-top: 1.3rem;
  left: 6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: #341f97;
  font-weight: 700;
}

span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
}

#facebook {
  margin-top: 1.7rem;
  margin-left: 15.5rem;
  font-size: 25px;
}
#instagram {
  margin-top: 1.7rem;
  margin-left: 2.5rem;
  font-size: 25px;
}

#twiter {
  margin-top: 1.7rem;
  margin-left: 2.8rem;
  font-size: 25px;
}
#youtube {
  margin-top: 1.7rem;
  margin-left: 2.5rem;
  font-size: 25px;
}

/* @media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller 
  } */

div {
  position: absolute;
  left: 80%;
  top: 1.5rem;
}
div a {
  padding: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #341f97;
  transition: all 0.3s ease-in-out;
}

div a:hover {
  background-color: #00ffbc;
  border-radius: 2.5rem;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
#mainimage {
  width: 100%;
  height: 70vh;
  position: absolute;
  display: flex;
  max-width: 100%;
  min-width: 20%;
}
#position {
  display: block;
  text-align: center;
  display: inline-block;
  left: 25vw;
  top: 10rem;
}

#sentence,
#titl {
  padding: 0.7rem;
  color: #ffffff;
  font-weight: 900;
  font-size: 34px;
}
#sentence {
  letter-spacing: 0.9rem;
  font-size: 55px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#titl {
  letter-spacing: 0.32rem;
  font-size: 37.2px;
}

#para {
  position: absolute;
  margin-top: 70vh;
  left: 45%;
  max-width: 100%;
  min-width: 20%;
  text-align: center;
}

h4 {
  font-size: 18px;
  display: flex;
  float: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#pa p {
  font-size: 14px;
  display: flex;
  float: left;
  color: lightslategray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#introduction {
  position: relative;
  width: 100%;
  height: auto;
}
#pa {
  position: absolute;
  margin-top: 71vh;
  left: 31.5vw;
  max-width: 100%;
  min-width: 10%;
  width: 50%;
}
#foot {
  position: absolute;
  top: 95vh;
  width: 100%;
}

#cop {
  left: 1.5%;
  color: dimgray;
  font-size: 12px;
  font-weight: 600;
}

#adv {
  position: absolute;
  width: 80%;
  margin-top: 75vh;
  left: 1vw;
  display: inline-block;
}

#adv p {
  font-size: 16px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
}
